@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Ruda:wght@400;700&display=swap');


.centered{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.cakes-cards {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;

}

.category-description{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.h1-cakes{
    margin: 3rem 0;
}