.btn {
    color: white;
    font: bold 1.20rem 'Ruda', sans-serif;
    background: #9C338B;
    border-radius: 8px;
    width: 13rem;
    height: 3.125rem;
    transition: 0.2s;
}

.btn:hover{
    color: #9C338B;
    background: white;
    border: 0.1rem solid #9C338B;
    scale: 1.1;
}

.btn:active{
    transform: scale(0.8);
}