@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Ruda:wght@400;700&display=swap');

.assort-card{
    background: #FEC600;
    width: 18.75rem;
    border-radius: 0.5rem;
    text-align: center;
    font: 600 1rem 'Montserrat Alternates', sans-serif;
    transition: 0.2s;
   position: relative;
}

.assort-card-text{
    padding: 1rem 0;
}

.assort-card:hover{
    transform: scale(1.1);
}
.assort-card:active{
    transform: scale(0.9);
}

.link{
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
}

