@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&family=Ruda:wght@400;700&display=swap');

.footer{
    color: white;
}
.footer-head{
    font: 1rem 'Montserrat Alternates', sans-serif;
    background: #9C338B;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-bottom{
    font: 1rem 'Ruda', sans-serif;
    background: #5B1851;
    text-align: center;
    padding: 1.5em 0;
}

.categories-list{
    display: flex;
    flex-direction: column;
}

.footer-logo{
    font: bold 1.5rem 'Ruda', sans-serif;
    line-height: 1.5rem;
}

.li-item{
    padding: 0.4rem 0;
}

.li-item:hover{
    font-weight: 700;
}

.h3-footer{
    font: bold 1.5rem 'Ruda', sans-serif;
}

.footer-contacts{
    flex-grow: 1;

}
.footer-logo, .categories{
    flex-grow: 3;
}
/*.footer-head > div{
    flex: 0 0 400px;
}*/
.footer-contact{
    display: flex;
    padding-top: 1rem;
}
.contact-info{
    padding-left: 0.5rem;
}

div.footer-head{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 1023px) {
    .footer-head{
        text-align: center;
        flex-direction: column;
    }

}